html {
    scroll-behavior: smooth;
}

.sr-icons {
    color: rgb(41, 47, 109);
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.img-cover {
    min-width: 100%;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(41, 47, 109, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
    text-align: center;
}

.btn-derecha {
    margin-left: 25px;
}

section {
    padding: 8rem 0;
}

h1,
h2,
h3 {
    color: rgb(41, 47, 109);
}

.text-primary {
    color: rgb(41, 47, 109) !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.bg-primary {
    background-color: rgb(41, 47, 109) !important;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: rgb(41, 47, 109);
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

.img-fluid {
    width: 600px;
    height: 300px;
}

section.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

section.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

section.masthead h1 {
    font-size: 2rem;
}

section.masthead p {
    font-weight: 300;
}

@media (min-width: 768px) {
    section.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    section.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

    section.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    section.masthead h1 {
        font-size: 4rem;
    }
}

.service-box {
    max-width: 400px;
}

a {
    color: rgb(41, 47, 109);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: rgb(41, 47, 109);
}

.fullscreen {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
    transition: initial;
    object-fit: fill;
}

#video-background {
    width: 100%;
    height: 100vh;
    position: relative;
}

#background-section {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.row {
    margin-bottom: 0vh;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.hr-esp {
    max-width: 50px;
    border-width: 3px;
    border-color: rgb(41, 47, 109);
}

hr.light {
    border-color: #fff;
}

h1 {
    font-size: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

#botonSonido {
    background-color: transparent;
    color: white;
    border: 0px transparent;
    position: absolute;
    top: 90vh;
    right: 5%;
}

#botonIdioma {
    background-color: transparent;
    color: white;
    border: 0px transparent;
    position: absolute;
    top: 90vh;
    left: 5%;
}

#botonSonido:focus {
    outline: 0;
}

#botonSonido:hover {
    color: rgb(188, 199, 39);
}

.btn-prin {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: rgb(41, 47, 109);
    color: white;
}

.btn-list {
    font-weight: 700;
    padding: 10px;
    border: none;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: rgba(188, 199, 39, 0.808) !important;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(188, 199, 39, 0.808) !important;
}

.elemento-navbar {
    color: white;
    display: inline;
}

.elemento-navbar:hover {
    transition: 300ms all;
    color: rgb(188, 199, 39);
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;
}

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #fff;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: 0.5rem 1rem;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
        color: #fff;
    }

    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #F05F40;
    }

    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40;
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #212529;
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
        color: #F05F40;
    }
}

#mainActividades {
    padding: 0px 10px;
    margin-top: 75px;
}

.fas {
    padding: 10px;
}

.sr-icons {
    color: rgb(41, 47, 109);
}

#actividades{
    color: rgb(41, 47, 109);
}

.event{
    width: 700px;
    height: 900px;
}

.principal{
    padding-top: 100px;
}

.image{
    width: 700px;
    height: 300px;
}
